$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;

// Colors - Primary
$background-color: #101000;
$color-main--red: #ff4e4e;
$color-white: #ffffff;

// Colors - Variations
$color-allergen-red: #f24a4a;
$color-protein-green: #37b337;
$color-standard-blue: #4e4eff;

// Colors - Contact
$color-correct: #c3e8c3;
$color-error: #ffcaca;

// Colors - Admin
$color-admin-background: #242424;
$color-admin-eat-in: #fc5fff;
$color-admin-pending: #5fa5ff;
$color-admin-pickup: #a6ff5f;
$color-admin-table-background: #161717;
$color-admin-table-headers: #8a8a8a;

// Colors - Berat
$color-grey--hover: #f3f4f6;
$color-grey--dark: #d7d7d7;

// Shadows
$box-shadow--main: 0 0 50px 0px rgba($color-admin-background, 0.06);
$box-shadow--secondary: 0 0 20px 0 rgba($color-admin-background, 0.06);
$box-shadow--hover: 0px 10px 50px 0px rgba(21, 48, 75, 0.15);

// Font related
$h1-size: 3rem;
$h2-size: 2.3rem;
$h3-size: 1.8rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.2rem;

$p-size--tiny: 0.7rem;
$p-size--xsmall: 0.8rem;
$p-size--small: 0.9rem;
$p-size--regular: 1rem;
$p-size--large: 1.1rem;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;

$line-height--paragraphs: 1.5;
$line-height--headers: 1.2;
