@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&display=swap");
@import "pages/home.scss";
@import "pages/menu.scss";
@import "pages/checkout.scss";
@import "components/orderItem.scss";
@import "components/modal.scss";
@import "components/header.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

p {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: rgb(16, 16, 16);
}

h1 {
  color: white;
  font-size: calc(1rem + 4vw);
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 6rem;
  border: 2px solid white;
}

.primary-button {
  align-self: center;
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  padding: 1rem 3rem;
  border: 1px solid white;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }

  &:disabled {
    background-color: grey;
    color: black;
    cursor: not-allowed;
  }
}

.page-wrapper {
  min-height: 100vh;
}

.hero {
  display: grid;
  justify-content: center;
  align-items: center;
  &.col-2 {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }
}

.hero__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 4rem;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:nth-child(2) {
    padding: 10rem 4rem 2rem 4rem;
  }

  &.landingpage {
    height: 100vh;
    align-items: center;
  }

  &.sticky {
    height: 100vh;
    justify-content: flex-start;
    padding: 10rem 4rem 2rem 4rem;
    align-self: flex-start;
    position: sticky;
    top: 0;
  }
}

.content {
  &__title {
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
  }

  &__container {
    padding-top: 1rem;
  }
}
