@import "styling/variables.scss";

.header {
	width: 100%;
	position: absolute;
	top: 3rem;
	z-index: 1001;

	@media screen and (max-width: $breakpoint-desktop) {
		z-index: 999;
	}

	nav {
		.header__nav__links {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			gap: 3rem;
			justify-content: center;
			position: relative;

			a {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				height: 100%;
				width: 6rem;
				letter-spacing: 0.3rem;
				text-decoration: none;

				&.active {
					color: $color-main--red;

					p {
						color: $color-main--red;
					}
				}
			}

			p {
				text-transform: uppercase;
				color: $color-white;
				font-size: 1.5rem;

				&:active {
					color: $color-main--red;
				}
			}

			@media screen and (max-width: $breakpoint-tablet) {
				display: none;
			}
		}
	}

	aside {
		z-index: 9999999;

		.cart-icon {
			position: fixed;
			right: 4rem;
			top: 2.5rem;
			width: 3rem;
			height: 3rem;
			background-color: $color-main--red;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			.cart-qty {
				position: absolute;
				width: 1.3rem;
				height: 1.3rem;
				background-color: $color-white;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1rem;
				color: $color-main--red;
				top: 2rem;
				right: 0rem;
			}

			svg {
				position: absolute;
				margin-top: 2px;
				margin-right: 2px;
				width: 1.5rem;
				height: 1.5rem;
				fill: $color-white;
			}

			z-index: 1001;
			@media screen and (max-width: $breakpoint-tablet) {
				top: 1.2rem;
				right: 1.5rem;
			}
			@media screen and (max-width: $breakpoint-mobile) {
				right: 1.5rem;
			}
		}
	}

	.hamburger-menu {
		display: none;
		position: fixed;
		top: 0;

		&__icons {
			margin: 1.5rem;
			svg {
				fill: $color-white;
				width: 2rem;
				height: 2rem;
			}
		}

		&.open {
			background-color: black;
			position: fixed;
			top: 0;
			width: 70%;
			height: 100%;

			.hamburger-menu__links {
				display: flex;
				flex-direction: column;
				list-style: none;
				gap: 2rem;
				padding-left: 2rem;

				p {
					text-transform: uppercase;
					color: $color-white;
					font-size: 2rem;
				}
			}
		}

		@media screen and (max-width: 768px) {
			display: block;
		}
	}

	@media screen and (max-width: 768px) {
		.desktop-nav {
			display: none;
		}
	}
}
