@import "styling/variables.scss";

.menu-item-mobile-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 1rem 0;
	aspect-ratio: 1/1;

	&__info {
		display: grid;
		grid-template-columns: 7fr 1fr 1fr;
		width: 100%;
		margin-top: auto;
		align-items: center;

		@media screen and (max-width: $breakpoint-mobile) {
			grid-template-columns: 8fr 1fr 1fr;
		}

		span,
		button {
			justify-self: end;
		}

		h2,
		span {
			font-size: 1.8rem;

			@media screen and (max-width: $breakpoint-mobile) {
				font-size: 1.1rem;
			}
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-main--red;
			width: 1.7rem;
			height: 1.7rem;
			border: none;
			border-radius: 50%;

			@media screen and (max-width: $breakpoint-mobile) {
				width: 1rem;
				height: 1rem;
			}

			svg {
				width: 1rem;
				height: 1rem;

				@media screen and (max-width: $breakpoint-mobile) {
					width: 0.6rem;
					height: 0.6rem;
				}
			}
		}
	}
}
