@import "styling/variables.scss";

.order-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--stripped {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    ul {
      padding-left: 1.5rem;
      display: flex;
      gap: 2rem;
      .order-item__tweaks {
        &--protein {
          list-style: outside;
          // background-color: $color-protein-green;
          font-size: 0.9rem;
        }

        &--allergen {
          list-style: outside;
          // background-color: $color-allergen-red;
          font-size: 0.9rem;
        }
      }
    }
  }

  .order-item {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__image {
      width: 5rem;
      height: 5rem;
      background-color: $color-white;
      align-self: center;
    }

    &__text {
      display: flex;
      gap: 2rem;

      width: 100%;
      h3 {
        flex-grow: 2;
        font-size: 1.6rem;

        @media screen and (max-width: $breakpoint-tablet) {
          font-size: 1.3rem;
        }
      }

      p {
        font-size: 0.7rem;
      }
    }

    &__tweaks {
      display: flex;
      gap: 0.6rem;
      font-size: 0.7rem;

      &--protein {
        background-color: $color-protein-green;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
      }

      &--allergen {
        background-color: $color-allergen-red;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
      }

      &--standard {
        background-color: $color-standard-blue;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-left: auto;
    }

    &__price {
      font-size: 2.5rem;
      margin: auto 0;

      b {
        margin-left: 0.4rem;
        font-weight: 300;
      }
    }

    &__quantity {
      display: flex;
      margin-left: auto;

      &.--orderpage {
        span {
          width: 4rem;
        }
      }

      button {
        background-color: transparent;
        color: $color-white;
        padding: 0 1rem;
        border: none;
        cursor: pointer;
      }
      .qty-button {
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        font-size: 1.5rem;
        line-height: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;

        &:hover {
          background-color: $color-white;
          color: black;
        }
      }
      span {
        margin: auto 0;
        width: 2rem;
        display: inline;
        text-align: center;
      }
    }
  }
}

// Stripped order item styling

.order-item--stripped {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  background-color: rgb(27, 27, 27);
  padding: 10px 20px;

  .order-item {
    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
    }

    &__tweaks {
      font-family: "Roboto", sans-serif;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &--protein {
        padding: 0.2rem 1rem;
        border-radius: 0.2rem;
      }

      &--allergen {
        padding: 0.2rem 1rem;
        border-radius: 0.2rem;
      }
    }

    &__quantity {
      font-family: "Roboto", sans-serif;
      justify-self: flex-end;
      font-size: 1rem;
    }
    &__price {
      justify-self: end;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
    }
  }
}
