@import "styling/variables.scss";

.order-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .order-item {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__image {
      width: 5rem;
      height: 5rem;
      background-color: white;
      align-self: center;
    }

    &__text {
      display: flex;
      gap: 2rem;

      width: 100%;
      h3 {
        flex-grow: 2;
        font-size: 1.8rem;
      }

      p {
        font-size: 0.7rem;
      }
    }

    &__price {
      font-size: 1.2rem;
      margin: auto 0;

      b {
        margin-left: 0.4rem;
        font-weight: 300;
      }
    }
    &__quantity {
      display: flex;

      button {
        background-color: transparent;
        color: white;
        padding: 0 1rem;
        border: 1px solid white;
        cursor: pointer;
      }
      span {
        margin: auto 1rem;
      }
    }
  }
}
