@import "styling/variables.scss";

.status-animation {
	width: 15rem;
}

.anim-styling-tweak {
	filter: invert(1) saturate(0) brightness(1.5);
}

.order-status {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 0 5rem;
	margin-bottom: 3rem;
	border-radius: 2rem;
	text-align: center;

	@media screen and (max-width: $breakpoint-mobile) {
		padding: 0;
	}

	img {
		width: 10rem;
		aspect-ratio: 1/1;
		margin-bottom: 2rem;
		fill: white;
	}

	h3 {
		font-size: 1.8rem;
	}
	p {
		font-size: 0.9rem;
	}

	&__progress-bar {
		width: 80%;
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
		position: relative;

		.circle {
			position: relative;
			z-index: 2;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: gray;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;

			&.active {
				background-color: rgb(80, 170, 94);
			}

			p {
				margin-top: -3rem;
				font-size: 0.9rem;

				&.active {
					color: rgb(80, 170, 94);
				}
			}
		}
	}
}

.line {
	position: absolute;
	align-self: start;
	height: 3px;
	top: 42%;
	z-index: 2;

	&.--completed {
		background-image: linear-gradient(
			to right,
			rgb(80, 170, 94) 50%,
			transparent 50%
		);
		background-size: 10px;
		background-repeat: repeat-x;
		z-index: 1;
	}

	&.--waiting {
		right: 0;
		background-image: linear-gradient(
			to right,
			rgb(119, 119, 119) 50%,
			transparent 50%
		);
		background-size: 10px;
		background-repeat: repeat-x;
		z-index: 0;
	}
}
