@import "styling/variables.scss";

.total-price {
  border-top: 2px solid $color-white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 2rem;
  }

  &__price {
    font-size: 2rem;
  }
}
