@import "styling/variables.scss";

#about {
	.about-container {
		padding-top: 8rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: $breakpoint-large-desktop) {
			padding: 1rem 0;
		}

		@media screen and (max-width: $breakpoint-desktop) {
			padding: 1rem 0;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			padding: 4rem 0;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			padding: 0 0 4rem 0rem;
		}

		&__img {
			margin-bottom: 5rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__h3 {
			text-align: center;
			margin-bottom: 3rem;
		}
		&__p {
			text-align: justify;
			line-height: 1.5rem;
			margin-bottom: 2.5rem;
		}

		&__sign {
			text-align: center;
		}

		&__icon {
			padding: 7rem 0;

			@media screen and (max-width: $breakpoint-tablet) {
				padding: 5rem 0;
			}
		}
	}
}
