@import "styling/variables.scss";

.contact-container {
	padding: 7rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h2-contact,
.h3-contact {
	text-align: center;
	margin-bottom: 3rem;
}

#contact {
	.hero__column:nth-child(1) {
		padding-top: 9rem;
	}
}

.address-map-container {
	display: flex;
	align-items: center;
	gap: 3rem;
	margin-bottom: 3rem;
}

.address {
	margin-bottom: 4rem;
	line-height: 2rem;
}

.phone {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.contact-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-container {
	max-width: 20rem;
	display: flex;
	align-items: center;
	gap: 2.5rem;
	margin: 3rem 0;
}
