@import "styling/variables.scss";

#home {
	h1 {
		width: 73rem;
		font-size: 7rem;
		padding: 2.5rem;
		letter-spacing: 0.9rem;

		@media screen and (max-width: $breakpoint-large-desktop) {
			width: 60rem;
			padding: 2rem;
			font-size: 5rem;
			letter-spacing: 0.8rem;
		}

		@media screen and (max-width: $breakpoint-desktop) {
			width: 25rem;
			padding: 2rem;
			font-size: 3.5rem;
			letter-spacing: 0.7rem;
		}

		@media screen and (max-width: $breakpoint-mobile) {
			width: 18rem;
			padding: 1.7rem;
			font-size: 2.4rem;
			letter-spacing: 0.4rem;
		}
	}
}
