@import "styling/variables.scss";

#home {
	h1 {
		position: relative;
		border: none;
		width: 73rem;
		font-size: 7rem;
		padding: 2.5rem;
		letter-spacing: 0.9rem;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			animation: border-grow 1.5s forwards;
		}

		&::before {
			border-top: 2px solid $color-white;
			border-bottom: 2px solid $color-white;
			transform-origin: left;
			left: 0;
			top: 0;
		}

		&::after {
			border-left: 2px solid $color-white;
			border-right: 2px solid $color-white;
			transform-origin: top;
			top: 0;
			left: 0;
		}

		@media screen and (max-width: $breakpoint-large-desktop) {
			width: 60rem;
			padding: 2rem;
			font-size: 5rem;
			letter-spacing: 0.8rem;
		}

		@media screen and (max-width: $breakpoint-desktop) {
			width: 25rem;
			padding: 2rem;
			font-size: 3.5rem;
			letter-spacing: 0.7rem;
		}

		@media screen and (max-width: $breakpoint-mobile) {
			width: 18rem;
			padding: 1.7rem;
			font-size: 2.4rem;
			letter-spacing: 0.4rem;
		}
	}

	button {
		display: none;
		width: 25rem;
		position: absolute;
		bottom: 8rem;
		left: calc(50% - 12.5rem);

		@media screen and (max-width: $breakpoint-mobile) {
			width: 18rem;
			left: calc(50% - 9rem);
		}

		@media screen and (max-width: $breakpoint-tablet) {
			display: block;
		}
	}
}

@keyframes border-grow {
	0% {
		transform: scale3d(0, 1, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
