@import "styling/variables.scss";

.menu-item {
  &__container {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // max-width: 40rem;
  }

  &__image {
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: white;
    align-self: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    h3 {
      font-size: 1.6rem;

      @media screen and (max-width: $breakpoint-tablet) {
        font-size: 1.3rem;
      }
    }

    p {
      font-size: 0.7rem;
    }
  }

  &__price {
    font-size: 1.6rem;

    b {
      margin-left: 0.4rem;
      font-weight: 300;
    }
  }
}
