.pending-status {
  color: #5fa5ff;
}

.cooking-status {
  color: #ff4e4e;
}

.pickUp-status {
  color: #a6ff5f;
}

.delivery-status {
  color: #fc5fff;
}

table {
  width: 50%;
  background-color: #161717;
  border-collapse: collapse;
  border: none;
  border-radius: 25px;
  text-align: left;
  color: white;
  padding: 2rem;
}

thead {
  color: #8a8a8a;
}

th,
td {
  padding: 8px;
  border: none;
}

tr:hover {
  background-color: #8a8a8a;
  border: nonen;
  cursor: pointer;
}
