@import "styling/variables.scss";

.pending-status {
	color: $color-admin-pending;
}

.cooking-status {
	color: $color-main--red;
}

.pickUp-status {
	color: $color-admin-pickup;
}

.delivery-status {
	color: $color-admin-eat-in;
}

table {
	width: 50%;
	background-color: $color-admin-table-background;
	border-collapse: collapse;
	border: none;
	border-radius: 1rem;
	text-align: left;
	color: $color-white;
}

thead {
	color: $color-admin-table-headers;
}

.table-header {
	text-transform: capitalize;
	color: $color-white;
	font-size: 20px;
	// margin: 2rem;
	padding: 2rem;
}

th,
td {
	padding: 0.5rem 2rem;
}

tbody tr:hover {
	background-color: $color-admin-background;
	cursor: pointer;
}
